In [16]:
import csv
import mysql.connector

In [19]:
productFilePath = 'Product.csv'
salesFilepath = 'Sales.csv'

In [23]:
def is_database_empty(cursor):
    try:
        pass
    
    except Exception as e:
        #needs to be logged
        print(f"an error of:\n{e}\n occured while checking if database is empty.")
        raise e

In [57]:
def add_csv(filePath, cursor, table_name):
    
    with open(productFilePath, 'r') as myFile:
        reader = csv.DictReader(myFile)
        
        for i in reader:
            for j in list(i.keys()):
                cursor.execute("INSERT INTO %s (%s) VALUE (%s) ", (table_name, j, i[j]) )
                print("INSERT INTO {} ({}) VALUE ({}) ".format(table_name, j, i[j]) )
            
            
            print()
        cursor.commit

In [59]:
try:
    con = mysql.connector.connect(host='localhost',
        user='root',
        password='root1234',
        port='3306',
        database='testdatabase'
        )
    
    #print(con)
    mycursor = con.cursor()
    #print(mycursor)
    
    '''
    used this right here to creat the 2 tables
    
    #mycursor.execute("Create Table Sales (Day DATE, Product varchar(256), Distributor varchar(256), Sales int, salesID int PRIMARY KEY AUTO_INCREMENT )")
    #mycursor.execute("Create Table Product (Product varchar(256), Category varchar(256), Brand varchar(256), productID int PRIMARY KEY AUTO_INCREMENT )")
    '''
    add_csv(productFilePath, mycursor, 'Product')
    add_csv(salesFilepath, mycursor, 'Sales')
    
    
    mycursor.close()
    con.commit()
    
    #openFiles()
except Exception as e:
    print(f"an error of:\n{e}\n occured while checking if database is empty.")
finally:
    print("closing connector")
    con.close()

an error of:
1064 (42000): You have an error in your SQL syntax; check the manual that corresponds to your MySQL server version for the right syntax to use near ''Product' ('Product') VALUE ('Product_A')' at line 1
 occured while checking if database is empty.
closing connector

In [51]:
with open(productFilePath, 'r') as myFile:
    reader = csv.DictReader(myFile)
    for i in reader:
        for j in list(i.keys()):
            print("INSERT INTO {} ({}) VALUE ({}) ".format('Product', j, i[j]) )
        print()

INSERT INTO Product (Product) VALUE (Product_A)
INSERT INTO Product (Category) VALUE (Electronics)
INSERT INTO Product (Brand) VALUE (Brand_X)

INSERT INTO Product (Product) VALUE (Product_B)
INSERT INTO Product (Category) VALUE (Appliances)
INSERT INTO Product (Brand) VALUE (Brand_Y)

INSERT INTO Product (Product) VALUE (Product_C)
INSERT INTO Product (Category) VALUE (Clothing)
INSERT INTO Product (Brand) VALUE (Brand_Z)

In [52]:
with open(salesFilepath, 'r') as myFile:
    reader = csv.DictReader(myFile)
    for i in reader:
        for j in list(i.keys()):
            print("INSERT INTO {} ({}) VALUE ({}) ".format('Product', j, i[j]) )
        print()

INSERT INTO Product (Day) VALUE (2023-01-01)
INSERT INTO Product (Product) VALUE (Product_A)
INSERT INTO Product (Distributor) VALUE (Distributor_1)
INSERT INTO Product (Sales) VALUE (150)

INSERT INTO Product (Day) VALUE (2023-01-01)
INSERT INTO Product (Product) VALUE (Product_B)
INSERT INTO Product (Distributor) VALUE (Distributor_2)
INSERT INTO Product (Sales) VALUE (200)

INSERT INTO Product (Day) VALUE (2023-01-02)
INSERT INTO Product (Product) VALUE (Product_A)
INSERT INTO Product (Distributor) VALUE (Distributor_1)
INSERT INTO Product (Sales) VALUE (120)

INSERT INTO Product (Day) VALUE (2023-01-02)
INSERT INTO Product (Product) VALUE (Product_B)
INSERT INTO Product (Distributor) VALUE (Distributor_2)
INSERT INTO Product (Sales) VALUE (180)

INSERT INTO Product (Day) VALUE (2023-01-03)
INSERT INTO Product (Product) VALUE (Product_A)
INSERT INTO Product (Distributor) VALUE (Distributor_1)
INSERT INTO Product (Sales) VALUE (130)

INSERT INTO Product (Day) VALUE (2023-01-03)
INSERT INTO Product (Product) VALUE (Product_B)
INSERT INTO Product (Distributor) VALUE (Distributor_2)
INSERT INTO Product (Sales) VALUE (220)